certifi==2018.10.15
chainmap==1.0.2
chardet==3.0.4
clarifai==2.4.2
combomethod==1.0.12
configparser==3.5.0
future==0.17.1
googleapis-common-protos==1.5.5
grpcio==1.16.1
idna==2.7
jsonschema==2.6.0
nulltype==2.3.1
numpy==1.15.4
options==1.4.8
protobuf==3.6.1
PyAudio==0.2.11
requests==2.20.1
six==1.11.0
urllib3==1.24.1
